@charset "utf-8";
.pages {
	background-color: #FFC;
	font-family: Verdana, Geneva, sans-serif;
	text-align: center;
}
.Heading {
	font-family: Verdana, Geneva, sans-serif;
	font-size: large;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #000;
	text-align: center;
}
body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: medium;
	font-style: normal;
	font-weight: normal;
	text-align: center;
}
.footer {
	font-family: Verdana, Geneva, sans-serif;
}
.footer {
	font-family: Verdana, Geneva, sans-serif;
	font-size: small;
	font-style: normal;
}
